{
  "alignTernaryLines": false,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "generatorStarSpacing": true,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": true,
  "parser": "babel-flow",
  "printWidth": 80,
  "quoteProps": "as-needed",
  "semi": false,
  "singleQuote": true,
  "spaceBeforeFunctionParen": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false,
  "yieldStarSpacing": true
}
